*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.first-section{
    width: 100%;
    height: 100vh;
    background-color: rgb(82, 212, 202);
}

.second-section{
    height: 100vh;
}

.container-dados{
    padding: 10px;
    margin: 10% 0 0 0;
    border-radius: 10px solid black;
}

.container-dados-login{
    position: absolute;
    top:30%;
    left: 30%;
    right: 30%;
    max-width: 750px;
}

.table-striped .alert{
    text-align: center;
}

.modal-footer{
    display: flex;
    justify-content: center;
}

.modal-footer .modal-footer-deletar .btn-danger,
.modal-footer .btn-secondary
{
    margin-right: 10px;
}

.modal-footer .modal-footer-deletar button,
.modal-footer button
{
    width: 100px;
}

.form-group a{
    color: blue;
    text-decoration: underline;
}

.wallpaper-user{
    background-image: url(../img/wallpaper-login-user.jpg);
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    height: 100vh;
}

.wallpaper-empresa{
    background-image: url(../img/wallpaper-login-empresa.jpg);
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    height: 100vh;
}

header{
    display: flex;
    justify-content: center;
}

header img{
    height: 100px;
}