header{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: rgb(12, 10, 10);
  }
  
  
  
  .sec-dados{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  
  .container-dados {
    position: absolute;
    top:0%;
    left: 33%;
    right: 10%;
    /* transform: translate(-50%, -50%); */
    /* margin-left: 75px; */
    max-width: 750px;
  }
  
  
  .navbarP {
    height: 100%;
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    display: flex;
    align-items: center;
  }
    
  .navbarP ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .navbarP li {
    border-bottom: 1px solid #555;
  }
  
  .navbar li:last-child {
    border-bottom: none;
  }
  
  .navbarP a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .navbarP a:hover {
    background-color: #555;
  }

.conteudo-descricao-vaga{
  width: 100%;
  height: 10px;
  display: inline-block; 
}

.conteudo-descricao-vaga p{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.login-cadastro{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: black;
}

.login, .cadastro{
  display: inline-block;
  width: 50%; 
  background-color: rgb(0, 0, 0);
}

.conteudo-login{
  display: flex;
  justify-content: center;
}

.card-header{
  text-align: center;
}

.footer-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.footer-login p{
  padding: 2px;
  margin-bottom: 0px !important;
  color: rgb(108, 108, 108);
}