<div class="sidebar" id="side_nav">
    <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
        <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-2 me-2">JOB</span> <span
                class="text-white">STAGE</span></h1>
        <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><i
                class="fal fa-stream"></i></button>
    </div>

    <ul class="list-unstyled px-2">
        <li class="active inicio">
            <a href="http://localhost/jobstage/usuario/index.php" class="text-decoration-none px-3 py-2 d-block">
                <i class="fal fa-home"></i> Inicio
            </a>
        </li>
        <li class=" dados">
            <a href="http://localhost/jobstage/usuario/dados-usuario/dadosUser.php" class="text-decoration-none px-3 py-2 d-block">
                <i class="fal fa-list"></i> Dados
            </a>
        </li>
        <li class=" vagas">
            <a href="http://localhost/jobstage/usuario/vagas.php" class="text-decoration-none px-3 py-2 d-block">
                <i class="fal fa-briefcase"></i> Vagas
            </a>
        </li>
        <li class=" candidaturas">
            <a href="http://localhost/jobstage/usuario/candidaturas.php" class="text-decoration-none px-3 py-2 d-block">
                <i class="fal fa-check"></i> Candidaturas
            </a>
        </li>
        <li class=" curriculo">
            <a href="http://localhost/jobstage/usuario/dados-usuario/curriculo.php" class="text-decoration-none px-3 py-2 d-block">
                <i class="fal fa-file"></i> Currículo
            </a>
        </li>
    </ul>
    <hr class="h-color mx-2">
</div>